{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imgs/logo-icon.jpg" type="image/x-icon">
    <title>Craftify</title>
    <link rel="stylesheet" href="{% static 'css/shopping.css' %}">
</head>
<body class="">
    
    <div class="container">
        <header>
            <section id="header">

                <a href="#"><img src="{%  static 'imgs/logo.png' %}" class="logo" alt="" width="170"></a>
        
                <div>
                    <ul id="navbar">
                        <li><a href="index.html">Home</a></li>
                        <li><a class="active" href="shopping.html">Shop</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <div class="icon-cart">
                            <img src="{% static 'imgs/shopping.png' %}">
                            <span class="quantity">0</span>
                        </div>
                    </ul>
                </div>
            </section>
        
            <section id="page-header" style="background-image : url('{% static 'imgs/banner/b1.png' %}')">
                <h2>#Build-it</h2>
                <p>Save more with coupons & up to 70% off!</p>
            </section>
        </header>

        <div class="list">
          
        </div>
    </div>
    <div class="card">
        <h1>My Cart</h1>
        <ul class="listCard">
        </ul>
        <div class="checkOut">
            <div class="total" onclick="window.location.href='transaction.html';">0</div>
            <div class="closeShopping">Close</div>
        </div>
    </div>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newslettrs</h4>
            <p>Get E-mail Updates about our latest shop and <span>special offers.</span> </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your E-mail Address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="{% static 'imgs/logo1.png' %}" alt="" width="250">
            <h4>Contact</h4>
            <p><strong>Address:</strong> 6th Floor, MMCOE, Karvenagar, Pune-411052</p>
            <p><strong>Phone:</strong> +91 9022255589/ +91 9866332608</p>
            <p><strong>Hours:</strong> 9:00 am - 7:30 pm, Mon - Sat</p>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#"  onclick="window.location.href='about.html';">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#" onclick="window.location.href='about.html';">Terms & Conditions</a>
            <a href="#" onclick="window.location.href='contact.html';">Contact Us</a>
    </div>

    <div class="col">
            <h4>My Account</h4>
            <a href="#" onclick="window.location.href='login.html';">Sign In</a>
            <a href="#" onclick="window.location.href='shopping.html';">View Cart</a>
            <a href="#" onclick="window.location.href='shopping.html';">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
    </div>

        <div>
                <p>Secured Payment Gateways</p>
                <img src="{% static 'imgs/pay.png' %}" alt="">
        </div>

        <div class="copyright">
        <p>© 2024, Craftify - All Rights Reserved</p>
        </div>
    </footer>

    <script src="{% static 'js/shopping.js' %}"></script>
</body>
</html>